@import "modal";
@import "home";
@import "gallery";
@import "filler";
@import "information";

body{
    margin:0;  
    padding:0; 
    border:0;
    background-color: white;

    font-family: 'Helvetica', sans-serif;
}

.header{
    top: 0;
    left: 0;
    position: fixed;

    width: 100vw;
    height: 6.5vh;

    #header_content{
        margin-left: 1vw;
        font-size: large;
    }
}

.side{
    bottom: 0;
    left: 0;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    position: fixed;
    font-size: large;
    margin-bottom: 5vh;
}

#main_text{
    width: 60vw;
    margin-bottom: 0%;
    padding: 0%;
    font-size: 5vh;
}

#minor_text{
    width: 60vw;
    margin-top: 0%;
    padding: 0%;
    font-size: 4vh;
}

#sub_text{
    width: 60vw;
    margin-top: 0%;
    padding: 0%;
    font-size: 3vh;
}